/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End of CSS RESET === */

body {
/*	background: url(../assets/classy_fabric.png);
	color: white;
*/	font-size: 20px;
	font-family:Raleway;
	/*text-shadow: 
		1px 1px 0 transparent,
		2px 2px 0 #101010;*/
	overflow: hidden;
	color:#fff ;
}
h1 {
	font-size:44px !important;
	font-weight: bold;
	line-height: 1.5em;
	/*text-shadow: 
		2px 2px 0 transparent,
		4px 4px 0 #101010;*/
		color:#fff ;
		margin-top:-20px !important
}

a, a:visited {
	color: white;
	text-decoration: none;
	border-bottom: 2px dotted;
	transition: color 0.2s;
}

a:hover {
	color: #AAA;
}

a:active {
	color: lightblue;
}

.big {
	display: block;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-shadow: 
		2px 2px 0 transparent,
		4px 4px 0 #101010;
}
.top_boder{width:100%; position:absolute; top:0; background:#ff6c00; height:5px; z-index:999999999}
.logo{width:100%; position:absolute; top:20px;height:5px; z-index:999999999; text-align:center; height:auto }
.footer_bottom{ position:fixed; bottom:0; width:100%; height:50px; background:#000; z-index:999999999;box-shadow: 2px 2px 10px #fff; font-size:14px; line-height:50px; text-align:center}
.wrapper div {
	position: absolute;
	z-index:9999;
}
.pattern {
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
}
.setting, nav {
	position: fixed;
	z-index: 9999999;
	bottom: 0;
	background: rgba(10,10,10, 0.5);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}

.setting {
	right: 0;
	padding: 10px 20px;
	border-radius: 10px 0 0 0;
}

.setting a {
	border: none;
}

nav {
	left: 0;
	border-radius: 0 10px 0 0;
}

nav li {
	float: left;
}

nav a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: none;
	text-align: center;
	transition: 0.25s;
}

nav li:last-child a {
	border-radius: 0 10px 0 0;
}

nav a:hover {
	background: rgba(15,15,15, 0.5);
}

.sp-canvas {
	display: block;
	z-index: 9999;
}
.mb_YTVPTime,.ytpicon{ display:none !important;}
.arrow {
	position: relative;
	display: inline-block;
}

.demo { 
	width: 800px;
	font-size: 20px;
	text-align: center;
	/*font-weight: bold;*/
}

.demo .arrow {
	font-size: 20px;
	animation: point-down 0.5s alternate infinite;
}

.description {
	top: 740px;
	left: 180px;
	width: 440px;
}

.syntax {
	top: 1510px;
	left: 430px;
	width: 400px;
}

.scrollbar {
	top: 1540px;
	left: 1600px;
	width: 400px;
}

.rotations {
	left: 2185px;
	top: 660px;
	width: 460px;
	transform: rotate(-90deg) translateY(2.5em);
}

.rotations .upside-down {
	font-size: 42px;
	text-align: right;
	transform: rotate(180deg) translateY(3em);
}

.source {
	left: 2200px;
	top: -800px;
	width: 400px;
	transform: rotate(90deg) translateX(50px);
}

.follow {
	width: 475px;
	left: 1100px;
	top: -950px;
	transform: rotate(90deg) translateX(50px);
}

.follow .big {
	font-size: 40px;
}

.highlight {
	animation: highlight 0.2s alternate 6 ;
}

@keyframes point-down {
	from {
		top: 0;
	}
	to {
		top: 5px;
	}
}

@keyframes highlight {
	to {
		background: lightblue;
	}
}
